{{ define "main" }}
  <div class="layout-container">
    <section class="mdc-layout-grid">
      {{ range (where .Data.Pages "Type" "post").GroupByDate "Jan 2006" "desc" }}
      <h2 class="post-section-key">{{ .Key }}</h2>
      {{ range .Pages }}
      <!-- article -->
      <article class="mdc-layout-grid__inner">
        <a href="{{.RelPermalink}}" class="mb-10 mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="">
            <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-pubdate">{{ .Date.Format "Jan 2, 2006" }}</time>
            {{ range .Params.categories }}
              {{ if eq . "development" }}
                <span class="post-category post-category--development">⚒️ dev</span>
              {{ end }}
              {{ if eq . "business" }}
                <span class="post-category post-category--business">💵 biz</span>
              {{ end }}
            {{ end }}
          </div>
          <div class="">
            <h3 class="post-list-title">{{ .Title | markdownify }}</h3>
            <div class="post-list-desc">
              {{ with .Description }}
                {{ . | markdownify | plainify | htmlUnescape }}
              {{ else }}
                {{ if .Truncated }}
                  {{ .Summary | markdownify | plainify | htmlUnescape }}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </a>
      </article>
      {{ end }}
      {{ end }}
    </section>
  </div>
{{ end }}
