{{ define "main" }}
  <div class="layout-container">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
          <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-date" pubdate>
            {{ .Date.Format "2006/01/02" }}
          </time>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 typeset">
          <h1 class="mt-0 pt-0">{{ .Title | markdownify }}</h1>
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
