body {
  color: #424242;
}

a {
  color: #4285f4;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;

  &:hover,
  &:active,
  &:focus {
    color: #3972cf;
    text-decoration: none;
  }
}
