body.theme-dark {
  background: #26282e;
  color: #ffffff;
}

body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark h4,
body.theme-dark h5,
body.theme-dark h6 {
  color: #ffffff;
}

body.theme-light a {
  color: #ec5381;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;

  &:hover,
  &:active,
  &:focus {
    color: #bd4368;
    text-decoration: none;
  }
}
